<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon slot="end" name="pencil" style="padding-right: 1.5rem;" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-grid fixed>
    <ion-row>
      <ion-col size="3"> <ion-icon name="person-circle" style="font-size: 5rem;"></ion-icon></ion-col>
      <ion-col size="9" style="text-align: center;">
          <ion-text>
          <h1>Perfil</h1>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
 
  <div class="hr"></div>

  <div class="userInfoItem">

    <ion-text color="secondary">
      <h5><strong>Username</strong></h5>
    </ion-text>
    <h6>@username123</h6>

  </div>

  <div class="userInfoItem">

    <ion-text color="secondary">
      <h5><strong>Nome</strong></h5>
    </ion-text>
    <h6>Paulo Gonçalves</h6>
    
  </div>

  <div class="userInfoItem">

    <ion-text color="secondary">
      <h5><strong>Email</strong></h5>
    </ion-text>
    <h6>exemplo@gmail.com</h6>
    
  </div>

  <div class="userInfoItem">

    <ion-text color="secondary">
      <h5><strong>Password</strong></h5>
    </ion-text>
    <h6>********</h6>
    
  </div>

  <center>
    <ion-img src="../../../assets/images/logo.png" style="width: 70%;" alt="Logotipo"></ion-img>
  </center>

</ion-content>
