<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="secondary" style="margin-left: 23vw;"><strong>Frutas</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 <ion-grid fixed>
   <ion-row (click)="showHint()">
      <ion-col size="3"><ion-img src="../../../assets/images/bulb.jpg" style="width: 5rem" alt="Pedir dica"></ion-img></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="8"><br><br> Pede Uma Pista!</ion-col>
   </ion-row>
 </ion-grid>

 <div class="hr"></div>

 <ion-grid fixed>
  <ion-row>
     <ion-col size="6" class="ion-float-left">
      <ion-button style="--color: white; --background: rgb(238, 193, 125);" class="ion-float-left"  size="medium">
        Anterior
      </ion-button>
    </ion-col>

     <ion-col size="6">
       <ion-button style="--color: white; --background: rgb(238, 193, 125);" class="ion-float-right" size="medium">
         Próximo
       </ion-button>
     </ion-col>

  </ion-row>
</ion-grid>

<center>
  <ion-img src="../../../assets/images/apple.jpg" style="width: 15rem" alt="Imagem a reconhecer"></ion-img>
</center>

<ion-grid fixed style="text-align: center;">
  <ion-row>
  
  <ng-container *ngFor="let letterSpace of fruitStringDiscovered">

    <ion-col>
      <div class="underscore">{{ letterSpace }}</div>
    </ion-col>
    
  </ng-container>

  </ion-row>
</ion-grid>

<ion-grid fixed style="text-align: center; background-color: rgb(238, 193, 125);">
  <ng-container *ngFor="let letterLine of letters">
    <ion-row>
      <ng-container *ngFor="let letter of letterLine">
        <ion-col>
          <div class="gameLetter" (click)="tryLetter(letter);">{{ letter }}</div>
        </ion-col>
      </ng-container>
    </ion-row>
  </ng-container>
</ion-grid>


</ion-content>
