.hr {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
}

.underscore {
    font-size: 4rem;
}

.gameLetter {
    font-size: 1.1rem;
    border: 1px solid;
    padding: 3px;
    background-color: rgb(238, 193, 125);;
    color: white;
}