<ion-header [translucent]="true">
  <!--<ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row center>
      <ion-col>

        <ion-img src="../assets/images/logo.png" class="logo" alt="Logotipo"></ion-img>

        <h2 text-uppercase no-padding no-margin>Login</h2>
        <h4 no-padding no-margin style="color: #92949c">É bom ter-te de volta!</h4>
        <hr/>

        <form>

          <ion-item>
            <ion-label position="floating" color="secondary">Email</ion-label>
            <ion-input required type="email"></ion-input>
          </ion-item>

          <hr/>

          <ion-item>
            <ion-label position="floating" color="secondary">Palavra-Passe</ion-label>
            <ion-input required type="password"></ion-input>
          </ion-item>
          <hr/>
          <hr/>
          <hr/>
          <ion-button expand="block" size="medium" shape="round" style="--background:darkmagenta;" (click)="login()">
            Entrar
          </ion-button>

          <hr/>
          
          <ion-grid fixed style="text-align: center;">
            <ion-row>
              <ion-col size="6"><a style="color: #92949c">Esqueceste-te da Palavra-Passe?</a></ion-col>
              <ion-col size="6"><ion-button fill="clear" shape="round" style="color:darkmagenta"  [routerLink]="['/register']">Registar</ion-button></ion-col>
            </ion-row>
          </ion-grid>

        </form>
      </ion-col>
    </ion-row>
</ion-grid>
  



</ion-content>
