<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="hasLogged()">
      <ion-content>
        <ion-list id="inbox-list">
          <center>
            
            <ion-avatar>
              <img class="avatar" src="../assets/images/maedopaulo.jpg">
            </ion-avatar>
            
            <ion-text><h3>Mãe do Paulo</h3></ion-text>
            <ion-note>paulo@mae.com</ion-note>

          </center>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

      <ion-footer class="bar-stable">
        <ion-item lines="none" nav-clear menu-close href="#" (click)="logout()"> 
          <ion-icon slot="start" name="exit-outline"></ion-icon>
          <ion-label>Terminar Sessão</ion-label>
        </ion-item>
      </ion-footer>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
