<ion-header [translucent]="true">
  <!--<ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registar</ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content class="ion-padding">

  <h2 text-uppercase no-padding no-margin>Registar</h2>
  <hr/>
  <form>

    <ion-item>
      <ion-label position="floating" color="secondary">Email</ion-label>
      <ion-input required type="email"></ion-input>
    </ion-item>

    <hr/>

    <ion-item>
      <ion-label position="floating" color="secondary">Palavra-Passe</ion-label>
      <ion-input required type="password"></ion-input>
    </ion-item>

    <hr/>
    <hr/>

    <ion-label>
      <p>
        <ion-checkbox color="primary"></ion-checkbox> 
        Aceito os <a style="color: #3dc2ff;" href="#">Termos de Serviço</a> e a <a style="color: #3dc2ff;" href="#">Política de Privacidade</a>.
      </p>
    </ion-label>

    <hr/>
    <hr/>

    <ion-button expand="block" size="medium" shape="round" color="secondary">
      Continuar
    </ion-button>
    
    <hr/>
    <hr/>

    <div style="text-align: center;">
      <ion-text color="medium">
        <h5>Já tens conta? <a href="#" style="color: darkmagenta;">Entrar</a>.</h5>
      </ion-text>
    </div>
    

  </form>
</ion-content>
