<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Adicionar Imagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Tema</ion-label>
    <ion-select interface="action-sheet" placeholder="Selecione o tema">
      <ion-select-option value="geometric">Formas Geométricas</ion-select-option>
      <ion-select-option value="profession">Profissões</ion-select-option>
      <ion-select-option value="fruit">Frutas</ion-select-option>
      <ion-select-option value="transport">Transportes</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="hr"></div>

  <center>
    <ion-item>
      <input type="file" accept="image/*" #file [hidden]="true">
    </ion-item>
    <ion-img src="../../../assets/images/imageinput.PNG" style="width: 70%;" (click)="file.click()" alt="Imagem a adicionar"></ion-img>

    <br>

    <ion-item style="text-align: center">
      <ion-input placeholder="Introduza o nome da imagem"></ion-input>
    </ion-item>

    <br>
    <br>

    <ion-grid fixed style="text-align: center;">
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="cancelOption()" color="danger">
            Cancelar
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="addOption()" color="primary">
            Adicionar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </center>
  

</ion-content>
