<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--<ion-title>Página Inicial</ion-title>-->
    <center>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="10"><ion-img src="../../../assets/images/banner.png" class="banner" style="width: 10rem;" alt="Banner da aplicação"></ion-img></ion-col>
          <ion-col size="2"><ion-icon  size="large" name="person-circle"></ion-icon></ion-col>
        </ion-row>
      </ion-grid>
    </center>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="success">
    <h1>Respostas Certas</h1>
  </ion-text>

  <ion-grid fixed class="ion-align-items-center">
    <ion-row>
      <ion-col size="4">
        Esta Semana
      </ion-col>

      <ion-col size="4">
        Última Semana
      </ion-col>

      <ion-col size="4">
        Último Mês 
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="4">
        <canvas #thisWeekChartCanvas style="position: relative; height:20vh; width:30rem"></canvas>
      </ion-col>

      <ion-col size="4">
        <canvas #lastWeekChartCanvas style="position: relative; height:20vh; width:30vw"></canvas>
      </ion-col>

      <ion-col size="4">
        <canvas #thisMonthChartCanvas style="position: relative; height:20vh; width:30vw"></canvas>
      </ion-col>
    </ion-row>

  </ion-grid>

  <div class="hr"></div>

  <center>
  <ion-grid fixed>
    <ion-row>

      <ion-col size="6" [routerLink]="['/game']">
        <ion-img src="../../../assets/images/fruta.jpg" class="gameImage" alt="Modo de jogo: frutas"></ion-img>
        <ion-text>
          <h4>Frutas</h4>
        </ion-text>
      </ion-col>

      <ion-col size="6" [routerLink]="['/game']">
        <ion-img src="../../../assets/images/formas.jpg" class="gameImage" alt="Modo de jogo: formas"></ion-img>
        <ion-text>
          <h4>Formas</h4>
        </ion-text>
      </ion-col>

    </ion-row>
    
    <ion-row style="padding-top: 1rem;">

      <ion-col size="6" [routerLink]="['/game']">
        <ion-img src="../../../assets/images/transportes.png" class="gameImage" alt="Modo de jogo: transportes"></ion-img>
        <ion-text>
          <h4>Transportes</h4>
        </ion-text>
      </ion-col>

      <ion-col size="6" [routerLink]="['/game']">
        <ion-img src="../../../assets/images/profissoes.jpg" class="gameImage" alt="Modo de jogo: profissões"></ion-img>
        <ion-text>
          <h4>Profissões</h4>
        </ion-text>
      </ion-col>

    </ion-row>

  </ion-grid>

</center>


</ion-content>
